
<br>
Please, click on any of the buttons below to validate group outcomes per rule:
<br>

<div id="Divrules">
	<table class='styled-table'>
		<tr>
			<td>
				<a id="bottom-rule" href="javascript:void(0)" class="btn btn-primary" onclick='visVanillaTimeLine()'> Vanila Timeline </a>
			</td>
			<td ng-repeat="list in sessionRules">
				<div id= 'actions' ng-if="list.magnitude == 'Sequence' || list.magnitude == 'Time' || list.magnitude == 'Frequency' ">
					<button type="button" class="btn btn-primary" ng-click="seeVis(list.id)" onclick="docReady(gloria())">{{ list.name }}</button>	
				</div>
				<div id= 'localisation' ng-if="list.magnitude == 'Proximity'">
					<button type="button" class="btn btn-warning btn-sm" ng-click="createNetwork(list.id)">{{ list.name }}</button>	
				</div>
			</td>

		</tr>

	</table>
</div>

<div id="loading">loading...</div>
<div ng-show='graph'>
	<h2 id="textgraph" ><strong>{{textgraph}}</strong></h2>
	<table cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<img src={{graphPath}} alt="Graph" style="width:500px;height:500px;">			
			</td>
			<td>
				<h2 id="feedback" >
					<p ng-bind-html="myFeedback"></p>
				</h2>			
			</td>
		</tr>
	</table>
</div>
<h2 id="title-page" ><strong></strong></h2>
<br>
<h2 id="rule-name" ><strong></strong></h2>
<div id="timelines" ng-show = "timeline" class="row-full"></div>
<p id="rules" ng-model = "alldata"></p>
<p id="rules1" ng-model = "data"></p>

<!--<p>{{sessionRules.length}}</p>!-->

<script type="text/javascript">

	function gloria() {
		var scope1 = angular.element($("#rules")).scope();
		console.log('in the timeline');
	    if(scope1!=undefined){
		    data = scope1.rulesVal;
		    alldata= scope1.alldata;
		    console.log('scope1 rulesVal: ', data);
		    console.log('scope1 alldata: ', alldata);

		    if(data != undefined && alldata!=undefined){
		      console.log('Goood');
		      visTimelineActions(data, alldata);
		    }else{
		    	//visVanillaTimeLine();
		    	//window.location.reload();
		    	//docReady(gloria);
		    	//element = document.getElementById('bottom-rule');
				//element.click();
		    }

	    }else{
	    	location.reload();
	    	//document.getElementById("timelines").innerHTML = "";

	    	//docReady(gloria);
	    	console.log('Scope is null...');
	    }
	}

function visVanillaTimeLine(){
	    //document.getElementById("timelines").innerHTML = "";
	    //reloadPage();
		var timeline = [];
		var scope1 = angular.element($("#rules")).scope();
		wrapper = document.getElementById('timelines'); 
		//reloadPage();
		var containers = [];


		if(scope1==undefined){
			console.log('No scope');
		}else{
			//This is the whole list of actions
		    data= scope1.alldata;
		    console.log('Here is the data',data);
		    //This is the rule that has been validated
			alldata = scope1.rulesVal; 
			console.log('Here are the rules, alldata: ',alldata);
				if(data != undefined){
				//visVanillaTimeLine(alldata);
				reloadPage();
				document.getElementById("title-page").innerHTML = '';
	    		document.getElementById("rule-name").innerHTML = '';
				document.getElementById("title-page").innerHTML = data.title;
			    document.getElementById('loading').style.display = 'none';
			    var critical_times = [];  
			    //console.log(data);
			    var participants = Object.keys(data.participants).sort();

			      //var background_info =[points[1]];


			     var background_info = [  
                                {id: 100, content: '', start: data.time_start, end: data.time_end, type: 'background', className: 'vis-time-response'}];


			      
			      //create containers for each timeline
			      for(var i=1;i<=data.n;i++){
			        container = document.createElement('div');
			        container.setAttribute("id", "visualization"+i);
			        wrapper.appendChild(container);
			      }

			      // Get DOM elements where the Timeline will be attached
			      for(var i=0;i<data.n;i++){
			        containers[i] = document.getElementById('visualization'+(i+1));
			      }
			      //create groups
			      var groups = [];
			      for(var i=0;i<data.n;i++){
			        groups[i] = new vis.DataSet([
			          {id:data.participants[participants[i]][0].group, content:participants[i], classname:participants[i]}]);
			      }

			      var items = [];
			      for(var i=0;i<data.n;i++){
			        items[i] = new vis.DataSet(data.participants[participants[i]]);
			      }

			      //console.log(items);

			      // Configuration for the Timeline
			      var opt = {
			        start: data.time_start,
			        end: data.time_end,
			        //timeAxis: {scale: 'seconds', step: 30},
			        //groupOrder: 'content',  // groupOrder can be a property name or a sorting function
			        zoomable: false,
			        showMajorLabels: false
			        //showMinorLabels: false,
			      };

			    //Create timelines
			    for(var i=0;i<data.n;i++){
			      timeline = new vis.Timeline(containers[i]);
			      timeline.setOptions(opt);
			      timeline.setGroups(groups[i]);
			      timeline.setItems(items[i]);
			      for(var j=0;j<data.criticalTs.length;j++){
			      	timeline.addCustomTime(data.criticalTs[j].when, 't'+(j+1));
			      }
			      
			      timeline.fit();
			    }
			    //modify how to present data points and description
			    var timeAxisElements = document.getElementsByClassName("vis-text vis-minor");
				  ////console.log(timeAxisElements);
				  for (var i = 0; i < timeAxisElements.length; i++) {
				    //if(timeAxisElements[i].textContent != "00:00" && timeAxisElements[i].textContent != "00:14" ){
				      timeAxisElements[i].style.color = "white";
				    //}
				  }

				  for(var i = 1; i <= data.n; i++){
				  	//console.log('visualization'+i);
				  	var div_cpr = document.getElementById('visualization'+i).querySelectorAll(".cpr");
				  	if(div_cpr.length > 0){
				  		var foreground = document.getElementById('visualization'+i).querySelectorAll(".vis-foreground")[0].firstChild;
				  		////console.log(top);
				  		//iterate over cpr node childs
				  		for (var j = 0; j < div_cpr.length; j++) {
					  		//clone node
					  		var cln = div_cpr[j].cloneNode(true);

					  		//get element where the content is
					  		var content = cln.querySelector(".vis-item-content");
					  		content.innerHTML = "";
					  		//add a class
					  		cln.classList.remove("cpr");
					  		cln.classList.add("cpr-axis");

					  		//get axis node
					  		var axis = document.getElementById('visualization'+i).querySelectorAll(".vis-axis")[0].firstChild;
					  		//console.log(axis);

					  		axis.appendChild(cln);
				  		}
				  	}
				  	//console.log(cln);
				  }
			}
			else{
				console.log('Rien a pase');
			}
		}
	}//end VanillaTimeline
	
	

  	function reloadPage() {
	    document.getElementById("timelines").innerHTML = "";
	}

	function docReady(fn) {
	    // see if DOM is already available
	    if (document.readyState === "complete" || document.readyState === "interactive") {
	        // call on next available tick
	        setTimeout(fn, 1);
	    } else {
	        document.addEventListener("DOMContentLoaded", fn);
	    }
	}

	docReady(gloria);

	function visTimelineActions(dataValid, data){
		document.getElementById('loading').style.display = 'none';
	    reloadPage();
	    console.log("visTimelineActions data: ",data);
	    console.log("visTimelineActions 	data: ",dataValid);
	    document.getElementById("title-page").innerHTML = dataValid.ruleName;
	    document.getElementById("rule-name").innerHTML = dataValid.title;

	    var critical_times = [];
	    var participants = Object.keys(data.participants).sort();
	    var containers = [];
	    var points=dataValid.points;
	    var message=dataValid.message;
	    wrapper = document.getElementById('timelines'); 

	    //create the background 

	    if(points.length < 3){
	      var background_info =[points[1]]
	    }else{
	      var background_info =[points[2]]
	    }
	    console.log("This is how it looks like: ",background_info, points.length);


	    //create containers for each timeline
	    for(var i=1;i<=data.n;i++){
	      container = document.createElement('div');
	      container.setAttribute("id", "visualization"+i);
	      wrapper.appendChild(container);
	    }
	       // Get DOM elements where the Timeline will be attached
	    for(var i=0;i<data.n;i++){
	      containers[i] = document.getElementById('visualization'+(i+1));
	    }
	    //create groups
	    //THE PTN is here
	    var groups = [];
	    var value ={};
	    for(var i=0;i<data.n;i++){
	    	if(participants[i]=='PTN'){
	    		groups[i] = new vis.DataSet([
	        {id:data.participants[participants[i]][0].group, content:participants[i], classname:participants[i], style:"color: white; background-color: white;"}]);
	    	}else{
	    		groups[i] = new vis.DataSet([
	        {id:data.participants[participants[i]][0].group, content:participants[i], classname:participants[i]}]);	
	    	}
	    }
	    //groups[data.n]=groups[data.n-1];

	   	console.log('tha groups %%%%%%%: ',groups);

	    var items = [];
	    for(var i=0;i<data.n;i++){
	      items[i] = new vis.DataSet(data.participants[participants[i]]);
	      items[i].add(background_info);
	      //items[i].add(points[1]);
	      items[i].add([message[0]]);
	    }
	     console.log('$$$$$$$$$$',items);

	    var opt = {
	      start: data.time_start,
	      end: data.time_end,
	      //timeAxis: {scale: 'seconds', step: 30},
	      //groupOrder: 'content',  // groupOrder can be a property name or a sorting function
	      zoomable: false,
	      showMajorLabels: false,
	      //showMinorLabels: false,
	    };

	       //Create timelines
	    for(var i=0;i<data.n;i++){
	      timeline = new vis.Timeline(containers[i]);
	      timeline.setOptions(opt);
	      timeline.setGroups(groups[i]);
	      timeline.setItems(items[i]);

	      for(var j=0;j<data.criticalTs.length;j++){
	        timeline.addCustomTime(data.criticalTs[j].when, 't'+(j+1));
	      }
	      
	      timeline.fit();
	    }
	    //modify how to present data points and description
	    var timeAxisElements = document.getElementsByClassName("vis-text vis-minor");
	    ////console.log(timeAxisElements);
	    for (var i = 0; i < timeAxisElements.length; i++) {
	      //if(timeAxisElements[i].textContent != "00:00" && timeAxisElements[i].textContent != "00:14" ){
	        timeAxisElements[i].style.color = "white";
	      //}
	    }     

	    //modify background for time-response
	    for (var i = 1; i <= data.n; i++) {

	      for(var j = 0; j < background_info.length; j++){
	        var el = document.getElementById('visualization'+i).querySelectorAll(".vis-time-response")[j];
	        console.log("!!!!!!!!!!!!! ",el);
	        //el.remove();
	        var la = document.getElementById('visualization'+i).querySelectorAll(".negative")[j];
	        //el.style.height = "100% !important";
	        console.log("!!!!!!!!!!!!! ",la);
	        var newpos = document.getElementById('visualization'+i).querySelectorAll(".vis-time-axis.vis-background")[0];
	        console.log(newpos);
	        if(el != undefined){
	          newpos.append(el);
	        }else{
	          newpos.append(la);
	        }
	      }
   		}

  	}	

</script>
  <link href="../../../css/vis.css" rel="stylesheet" type="text/css" />
  <link href="../../../css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Lato" />
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


